#disable_html_escaping()
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
    <div class="slie-rating-field editable">
        <div class="slie-rating-edit">
            #set ($haveSelected = false)
            #foreach ($option in $configs.options)
                #if ($value && $value == $option.optionId.toString())
                    #set ($haveSelected = true)
                    #set ($selectedValue = $textutils.htmlEncode($!option.getValue()))
                #end
            #end

            #foreach ($option in $configs.options)
                #if(!$option.disabled || $option.disabled == false || ($value && $value == $option.optionId.toString()))
                    <div class="slie-star#if($haveSelected) slie-star-gold#end#if($value && $value == $option.optionId.toString()) slie-star-selected#end" data-option-id="$option.optionId" data-option-value="$textutils.htmlEncode($!option.getValue())"></div>
                    #if ($value && $value == $option.optionId.toString())
                        #set ($haveSelected = false)
                    #end
                #end
            #end
            <div class="slie-star slie-star-clear" data-option-id="" data-option-value="$i18n.getText("rating-customfield.vm.action.clear")"></div>
        </div>
        <div class="slie-rating-tip">$!selectedValue</div>
        <input class="slie-rating-input" name="${customField.id}" id="${customField.id}" type="text" value="$value" style="display: none;" />
    </div>
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
