#if ($value)
    #if (${displayParameters.excel_view})
        $textutils.br($textutils.htmlEncode($!value.getValue(), false))
    #elseif ($options)
        $webResourceManager.requireResourcesForContext("ru.slie.jira.plugins.customfields")
        <div class="star-rating-readonly">
            #set ($attr_start = "")
            #foreach ($option in $options)
                #if ($value && $value.toString() == $option.value.toString())
                #set ($attr_start = "star-rating-on")
                #set ($attr_title = $cfValueEncoder.encodeForHtml($option.value))
                #end
            #end
            #foreach ($option in $options)
                #if(!$option.disabled || $option.disabled == false)
                    <div class="star-rating star-rating-readonly $attr_start" id="${customField.id}-${velocityCount}">
                        <a title="$!attr_title">$option.optionId.toString()</a>
                    </div>
                    #if ($value && $value.toString() == $option.value.toString())
                    	#set ($attr_start = "")
                    #end
                #end
            #end
        </div>
    #else
        $textutils.htmlEncode($!value.getValue())
    #end
#end
