#* @vtlvariable name="textutils" type="com.opensymphony.util.TextUtils" *#
#* @vtlvariable name="options" type="java.util.List<com.atlassian.jira.issue.customfields.option.Option>" *#
#* @vtlvariable name="value" type="com.atlassian.jira.issue.customfields.option.Option" *#
#if ($value)
    #if (${displayParameters.excel_view})
        $textutils.br($textutils.htmlEncode($!value.getValue(), false))
    #elseif ($options)
        <div class="slie-rating-field" data-title="$textutils.htmlEncode($!value.getValue())">
            <div class="slie-rating-view">
                #set ($haveSelected = false)
                #foreach ($option in $options)
                    #if ($value.optionId.toString() == $option.optionId.toString())
                    #set ($haveSelected = true)
                    #end
                #end
                #foreach ($option in $options)
                    #if(!$option.disabled || $option.disabled == false)
                        <div class="slie-star#if($haveSelected) slie-star-gold#end"></div>
                        #if ($option.optionId.toString() == $value.optionId.toString())
                        #set($haveSelected = false)
                        #end
                    #end
                #end
            </div>
        </div>
    #else
        $textutils.htmlEncode($!value.getValue())
    #end
#end
